body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0A0A0A;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

header {
    background-color: #1C1C1C;
    padding: 1rem 0;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #F0C808;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #333;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-block {
    width: 50%;
    height: 185px;
    top: 5;
    background-color: #1C1C1C;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #1C1C1C;
    color: white;
    margin-top: auto;
}

h1 {
    color: #F0C808;
    margin: 0;
}

a {
    color: #F0C808;
}

h3 {
    text-align: center;
}

h2 {
    color: #F0C808;
}

